<!DOCTYPE html>
<html>

<head>
    <title>Account - King's Store</title>
    <link rel="stylesheet" href = "{{url_for('static', filename='style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="/"> <img src="{{url_for('static', filename= 'pictures/king.png')}}" width="80px"></a>
                </div>
                <!-- Nav represents a section of page which is linked with another pages or parts.  -->
                <nav>
                    <!-- ul means unordered list  -->
                    <ul id="MenuItems">
                        <!-- li is used to represent an items in a list -->
                        <li> <a href="/">Home</a></li>
                        <li> <a href="product">Products</a></li>
                        <li> <a href="">Contact</a></li>
                        <li> <a href="account">Account</a></li>
                    </ul>
                </nav>
                <a href="cart"><img src="{{url_for('static', filename= 'pictures/cart.jpg')}}" width="40px" height="50px"></a>
                <img src="{{url_for('static', filename= 'pictures/menu.png')}}" class="menu-icon" onclick="menutoggle()">
            </div>
        </div>
    </div>
    <!-- account page -->
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="{{url_for('static', filename= 'pictures/account3.jpeg')}}" width="100%">
                </div>
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">
                            <span onclick="login()">Login</span>
                            <span onclick="register()">Register</span>
                            <hr id="Indicator">
                        </div>
                        <form id = "LoginForm" method = "post" action = "/login_validation">
                            <input type="text" placeholder="Username" name = "username">
                            <input type="text" placeholder="Password" name = "password">
                            <button type="submit" class="btn"> Login</button>
                            <a href="update" method = "post">Forgot Password</a>
                        </form>
                        <form id = "RegForm" method = "POST" method = "GET" action="/login">
                            <input type="text" placeholder="Username" name = "uname"><br>
                            <input type="email" placeholder="Email" name = "uemail"><br>
                            <input type="password" placeholder="Password" name = "upassword">
                            <button type="submit" class="btn"> Register </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download our App</h3>
                    <p>Download App for Andriod and IOS</p>
                </div>
                <div class="footer-col-2">
                    <img src="{{url_for('static', filename= 'pictures/king.png')}}">
                    <p>Our purpose is to provide Online service for your pet. So, that you shouldn't worry any more.</p>
                </div>
                <div class="footer-col-3">
                    <h3>Useful links</h3>
                    <ul>
                        <li>Return policy</li>
                        <li>Blog post</li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>Social media </h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px";
            }
            else {
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>
    <!-- js for toggle form  -->
    <script>
        var LoginForm = document.getElementById("LoginForm");
        var RegForm = document.getElementById("RegForm");
        var Indictor = document.getElementById("Indicator");

        function register(){
            RegForm.style.transform = "translateX(0px)";
            LoginForm.style.transform = "translateX(0px)";
            Indictor.style.transform = "translateX(100px)";
        }

        function login(){
            RegForm.style.transform = "translateX(300px)";
            LoginForm.style.transform = "translateX(300px)";
            Indictor.style.transform = "translateX(0px)";
        }

    </script>
</body>

</html>





<!-- # is used to give unique id -->